body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #453061;
    color: #ffffff;
}

header {
    background: #222;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.skills, .projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgb(95, 80, 132);
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(33.33% - 20px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

a {
    color: #007bff;
}